{% extends 'base.html' %}
{% load static %}
{% block about_us %}
    {% include 'spec_offer.html' %}
    <div class="row">
				<div class="col-xs-9">

					<!-- START CONTENT ITEM -->
					<h2>Заправка картриджей в Москве с выездом</h2>
					<!-- END CONTENT ITEM -->

				</div>
				<div class="col-xs-3">

					<!-- START CONTENT ITEM -->
					<div class="social-icons pull-right">
						<a href="#"><img src="{% static 'img/icons_SN/1481922025_favicon.png' %}" alt="facebook"></a>
						<a href="#"><img src="{% static 'img/icons_SN/icon-linkedin.png' %}" alt="twitter"></a>
						<a href="#"><img src="{% static 'img/icons_SN/icon-rss.png' %}" alt="linkedin"></a>
						<a href="#"><img src="{% static 'img/icons_SN/icon-twitter.png' %}" alt="rss"></a>
					</div>
					<!-- END CONTENT ITEM -->

				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">

					<!-- START CONTENT ITEM -->
					<p>Московский Сервисный центр "ЗаправкаСервис" на протяжении нескольких лет зарекомендовал себя как надежный и качественный исполнитель на рынке услуг по заправке картриджей, по обслуживанию и ремонту  оргтехники. Мы благодарны всем  нашим клиентам за оказанное нам доверии и надеемся на дальнейшее сотрудничество.</p>
                    <p>На сегодняшний день СЦ "ЗаправкаСервис" это оперативная заправка картриджей в Москве и ремонт всех видов лазерных копировальных аппаратов от ведущих производителей расходных материалов. Заправка картриджей самая востребованная услуга среди пользователей печатающих устройств, так как это самый экономичный вариант. При интенсивном использовании принтера требуется периодическая замена картриджа. Приобретение нового оригинального картриджа зачастую обходится в половину стоимости оборудования. Постоянная замена картриджей влечет за собой дополнительные расходы компании. С услугой заправки картриджей мы можем  значительно снизить ваши расходы , так как  заправка картриджей составляет мизерную часть от цены нового картриджа, а результаты полностью соответствуют всем требованиям печати.
                    </p>
                    <p>На сегодняшний день СЦ "ЗаправкаСервис" это оперативная заправка картриджей в Москве и ремонт всех видов лазерных копировальных аппаратов от ведущих производителей расходных материалов. Заправка картриджей самая востребованная услуга среди пользователей печатающих устройств, так как это самый экономичный вариант. При интенсивном использовании принтера требуется периодическая замена картриджа. Приобретение нового оригинального картриджа зачастую обходится в половину стоимости оборудования. Постоянная замена картриджей влечет за собой дополнительные расходы компании. С услугой заправки картриджей мы можем  значительно снизить ваши расходы , так как  заправка картриджей составляет мизерную часть от цены нового картриджа, а результаты полностью соответствуют всем требованиям печати.</p>
                    <p>Наши специалисты готовы в удобное для вас время и место произвести на выезде качественную заправку картриджей в Москве и ближайшем Подмосковье, или вы можете лично приехать в наш сервисный центр для заправки картриджей. Если по каким-то причинам вам будет не удобно  чтобы была произведена заправка картриджей у вас в офисе или дома (не позволяют условия, или другие стесненные обстоятельства), то мы готовы приехать, забрать ваш картридж и выполнить заправку картриджа на производстве. В этом случае картридж возвращается на следующий день.</p>
                    <p>При заправки картриджей наши специалисты используют совместимый тонер высокого качества от ведущих производителей расходных материалов;</p><br>
                    <p>Производится полная очистка от использованного тонера из бункера отхода;</p><br>
                    <p>Корпус и элементы конструкции чистятся от остатков старого тонера;</p><br>
                    <p>При необходимости производится замена шестерней, фотовала и валов;</p><br>
                    <p>Чистка дозирующего лезвия;</p><br>
                    <p>Печать отчетного тест-листа;</p><br>
                    <p>После заправки мастер выдает чек и акт о проделанной работе. При сохранении защитных пломб и соблюдении всех рекомендаций мы предоставлем гарантию на заправленный картридж до конца его ресурса.</p><br>

                    <p>Московский Сервисный центр "ЗаправкаСервис" гарантирует профессиональное, качественное и аккуратное выполнение всех наших услуг в вашем офисе или в вашей квартире. Вы можете позвонить в наш сервисный центр в любое время и получить консультации и рекомендации по заправке картриджей и ремонту принтеров.</p><br>
                    <p>Сервисный центр представляет на рынке расходных материалоув уникальную альтернативу заправке совместимых и оригинальных картриджей.  Первое в мире! Единственное в России! Устройство пневматической подачи тонера в лазерный принтер Smart Toner System (производство Корея). С устройством Smart Toner System вы сможете навсегда забыть о заправке картриджей, существенно ощутить экономию (данное устройство окупается в первый же месяц), и получить оригинальное качество печати.  И немаловажная деталь,  то что данный продукт получил сертификаты "GREEN product" и "ECO product", что является главным показателем надежности и качества.</p>
                    <p>STS является передовой и лидирующей системой в Кореи, используемой крупными и государственными предприятиями. Теперь эта система в России.</p>
                    <p>Выбирайте сами или заправка картриджей или система пневматической подачи тонера в лазерный принтер (в этом случае, надобность в заправке отпадает). В обоих случаях СЦ "ЗаправкаСервис" поможет вам решить вашу задачу, так чтобы это было выгодно для вас!  </p>

                    <!-- END CONTENT ITEM -->

				</div>
			</div>

{% endblock %}