{% extends 'content_page.html' %}
{%  load static %}
{% block content_detail %}

    <div class="row product-detail">

    	<div class="well">

            <div class="row">
                            <div class="col-xs-12 col-sm-5 col-md-4">
                                {% for device in query_1 %}



                                <a class="product-detail-lightbox colorbox" rel="colorbox1" href="" title="Product A"><img class="product-image img-responsive" alt="Product A" src="{{ STATIC_URL }}{{ device.image_printer  }}"></a>

                            </div>


                            <div class="col-xs-12 col-sm-5 col-md-8">



                                    <h3>Прайс на {{ device.dev_model }}</h3>
                                {% endfor %}

                        </div>

                            <div class="col-xs-12 col-md-8">

                                    {% include 'price_of_printer.html' %}
                                    {% block table %}{% endblock %}<br><br>
                                </div>


                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <a class="btn btn-block btn-default" href="{% url 'brand_choose' %}"><span class="glyphicon glyphicon-chevron-left"></span>Назад</a>

                                </div>
                                <div class="col-xs-12 col-md-5">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label for="count" class="col-xs-12 col-sm-3 col-md-3 col-lg-4 control-label">Кол-во</label>
                                            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-5">
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <a class="btn btn-block btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Отправить заявку</a>
                                </div>
                            </div>

                        </div>

        </div>

    </div>

{% endblock %}
