<div class="row">
				<div class="col-xs-4">

{% for t in texts %}
					<p>{{ t.col_1 }}</p>


				</div>
				<div class="col-xs-4">

					<p>{{ t.col_2 }}</p>


				</div>
				<div class="col-xs-4">

					<p>{{ t.col_3 }}</p>
{% endfor  %}

				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="well">

						<!-- START CONTENT ITEM -->
						&copy; <script>document.write(new Date().getFullYear());</script> На сегодняшний день СЦ "ЗаправкаСервис" это оперативная заправка картриджей в Москве и ремонт всех видов..<a href="{% url 'about_us' %}">дальше <span class="glyphicon glyphicon-chevron-right"></span></a>
						<!-- END CONTENT ITEM -->

					</div>
				</div>
			</div>

