{% extends 'content_page.html' %}
{%  load static %}
{% block poisk_kartridj %}
<h4>Введите модель картриджа или принтера</h4>
    <form method="GET" action="{% url 'searching' %}">
    <h5>По модели картриджа</h5>
      <div class="input-group">

          <input type="text" class="form-control" name="poisk" placeholder="...пример: 1140, 85a" value="{{ request.GET.poisk }}">

        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>






        <h6>Если вы не нашли картридж через поисковую строку<br>
        Вы можете выбрать бренд и найти картридж вручную</h6>

        <ul class="pager">


            <li>
        <a href="{% url 'result_of_poisk' %}?view_in=l&manufacturer=HP"><img src="{%  static 'img/brand_icons/hp2.gif' %}"></a>
            </li>
            <li>
        <a href="{% url 'result_of_poisk' %}?view_in=l&manufacturer=Brother"><img src="{%  static 'img/brand_icons/brother.gif' %}"></a>
            </li>
            <li>
        <a href="{% url 'result_of_poisk' %}?view_in=l&manufacturer=Kyocera"><img src="{%  static 'img/brand_icons/kyocera.png' %}"></a>
            </li>
            <li>
        <a href="{% url 'result_of_poisk' %}?view_in=l&manufacturer=Canon"><img src="{%  static 'img/brand_icons/canon_l.gif' %}"></a>
            </li>
            <li>
        <a href="{% url 'result_of_poisk' %}?view_in=l&manufacturer=Samsung"><img src="{%  static 'img/brand_icons/samsun.gif' %}"></a>
            </li>


        </ul>



{% endblock %}

{% block content_detail %}

{% endblock %}