{% block table %}


        {% for device in query_1 %}

            <table class="table-hover" width=100%>
                <col width=80%>
                <col width=20%>
                <tr><th scope="row">Категория: {{ device.dev_model.category }}</th><th>Стоимость</th></tr>
                <tr class="bg-active"><td>Диагностика</td><td><h5><b>{{ device.dev_model.category.diagnostika }}</b></h5></td></tr>
                <tr><td>Профилактика</td><td><h5><b>{{ device.dev_model.category.profilaktika }}</b></h5></td></tr>
                <tr><td>Техническое обслуживание</td><td><h5><b>{{ device.dev_model.category.teh_obs }}</b></h5></td></tr>
                <tr><td>Ремонт узла 0-й категории сложности</td><td><h5><b>{{ device.dev_model.category.rem_0kat }}</b></h5></td></tr>
                <tr><td>Ремонт узла 1-й категории сложности</td><td><h5><b>{{ device.dev_model.category.rem_1kat }}</b></h5></td></tr>
                <tr><td>Ремонт узла 2-й категории сложности</td><td><h5><b>{{ device.dev_model.category.rem_2kat }}</b></h5></td></tr>
                <tr><td>Ремонт узла 3-й категории сложности</td><td><h5><b>{{ device.dev_model.category.rem_3kat }}</b></h5></td></tr>
                <tr><th>Выезд</th></tr>
                <tr><td>Выезд специалиста в пределах МКАД</td><td><h5><b>500</b></h5></td></tr>
                <tr><td>Выезд специалиста до 20 км от МКАД</td><td><h5><b>1000</b></h5></td></tr>
                <tr><td>Выезд специалиста от 21 до 50 км от МКАД</td><td><h5><b>1200</b></h5></td></tr>
                <tr><td>Выезд специалиста от 51 до 100 км от МКАД</td><td><h5><b>2000</b></h5></td></tr>
                <tr><td>Транспортировка оборудования</td><td><h5><b>600</b></h5></td></tr>
            </table>
        {% endfor %}

{% endblock %}