{% extends 'base.html' %}
{% load static %}
{% block rajony %}
    {% include 'spec_offer.html' %}
    {% include 'slider.html' %}
    <div class="row">
        {% for raj in rajony_content %}

				<div class="col-xs-9">

					<!-- START CONTENT ITEM -->
					<h2>{{ raj.title_rajony }}</h2>
					<!-- END CONTENT ITEM -->

				</div>
				<div class="col-xs-3">

					<!-- START CONTENT ITEM -->
					<div class="social-icons pull-right">
						<a href="#"><img src="{% static 'img/icons_SN/1481922025_favicon.png' %}" alt="facebook"></a>
						<a href="#"><img src="{% static 'img/icons_SN/icon-linkedin.png' %}" alt="twitter"></a>
						<a href="#"><img src="{% static 'img/icons_SN/icon-rss.png' %}" alt="linkedin"></a>
						<a href="#"><img src="{% static 'img/icons_SN/icon-twitter.png' %}" alt="rss"></a>
					</div>
					<!-- END CONTENT ITEM -->

				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">

					<!-- START CONTENT ITEM -->

                    <p>{{ raj.text_rajony }}</p>
                    <!-- END CONTENT ITEM -->

				</div>
			</div>
            <br>
            <br>
            <br>


            {% endfor %}
    <div class="row">
        <div class="col-xs-5"></div>

        <div class="col-xs-7">
            <a href="{% url 'main_content'%}"><button  class="btn btn-primary" type="submit" > Перейти на главную <i class="icon-chevron-right icon-white"></i> </button> </a>
            <br>
            <br>

            <p><strong>Мы работаем с 10:00 до 19:00<br>
            Суббота 11:00 до 16:00<br>
            Воскресенье выходной<br>
            8 (495) 790-77-50<br>
            8 (903) 667-70-80<br>
            zapravkaservice@mail.ru<br><br></strong></p>

        </div>
    </div>
{% endblock %}