
{% load static %}
    <div class="row">
        <div class="col-xs-12">
            <div class="slider-wrapper theme-bar">
                <div class="ribbon"></div>
                <div id="slider1" class="nivoslider views-nivo-slider">
                    <a href="{% url 'main_content' %}"><img  src="{% static 'img/4523.jpg' %}" alt="" title=""></a>
                    <a href="{% url 'main_content' %}"><img src="{% static 'img/4523.jpg' %}" alt="" title=""></a>

                </div>
            </div>
        </div>
    </div>
