
{% load static %}
    <div class="row">
        <div class="col-xs-12">
            <div class="slider-wrapper theme-bar">
                <div class="ribbon"></div>
                <div id="slider1" class="nivoslider">
                    <a href="{% url 'main_content' %}"><img  src="{% static 'img/slider/printer-brands-bottom-page-11-non-original-toners1.png' %}" alt="" title=""></a>
                    <a href="{% url 'main_content' %}"><img src="{% static 'img/slider/printer-brands-bottom-page-11-non-original-toners2.png' %}" alt="" title=""></a>

                </div>
            </div>
        </div>
    </div>
