<div class="row hidden-print">
					<div class="hidden-xs col-sm-6 col-md-4 col-lg-4">
						<div class="header-action">

							<!-- START CONTENT ITEM -->
							<span class="label label-info">При заправке от 4-х картриджей выезд бесплатно..</span>
							<!-- END CONTENT ITEM -->

						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">

						<!-- START CONTENT ITEM -->
						<nav class="navbar navbar-right header-nav" role="navigation">
							<ul class="nav navbar-nav">
								<li class="dropdown"  title="Элемент находится в стадии разработки">
									<a class="dropdown-toggle" data-toggle="dropdown" >Аккаунт</a>
									<ul class="dropdown-menu">
										<li>
											<div class="dropdown-content">
												<br>
												<form role="form">
													<input type="text" class="form-control" placeholder="Username"><br>
													<input type="password" class="form-control" placeholder="Password"><br>
													<button class="btn btn-default">Сброс</button>
													<button type="submit" class="btn btn-primary">Войти</button>
												</form>
												<br>
											</div>
										</li>
									</ul>
								</li>
								<li title="Элемент находится в стадии разработки"><a >Заказы</a></li>
								<li><a>Поддержка</a></li>
							</ul>
						</nav>
						<!-- END CONTENT ITEM -->

					</div>
				</div>

