<div class="row">
    <div class="col-xs-12">
        <!-- START CONTENT ITEM -->
        {% for t in texts %}
        <div class="usp-icons">
            <div class="col-xs-12 col-sm-4">
                <span class="glyphicon glyphicon-gift"></span>
                <p>{{ t.titl_1 }}</p>
            </div>

            <div class="col-xs-12 col-sm-4">
                <span class="glyphicon glyphicon-plane"></span>
                <p>{{ t.titl_2 }}</p>
            </div>

            <div class="col-xs-12 col-sm-4">
                <span class="glyphicon glyphicon-user"></span>
                <p>{{ t.titl_3 }}</p>
            </div>
        </div>
        {% endfor %}
        <!-- END CONTENT ITEM -->
    </div>
</div>