{% extends 'sts/sts-base.html' %}

{% load static %}



{% block sts %}

    <div class="row">
        <div class="col-xs-12">
            <div class="slider-wrapper theme-bar">
{#                <div class="ribbon"></div>#}
                <div id="slider1" class="nivoslider">
                    <img  src="{% static 'img/STS/gobiz_main.jpg' %}" alt="" title="">

                    <img  src="{% static 'img/STS/57782596.d9im40tlzh.W665.png' %}" alt="" title="">
                    <img src="{% static 'img/STS/CrlrVjuWIAA2Bsq.png' %}" alt="" title="">
                    <img  src="{% static 'img/STS/a3446152292642be448d1e587e018d09022df591.png' %}" alt="" title="">

                </div>
            </div>
        </div>
    </div>


    <br><br>

    <h4 align="center"><strong>Smart Toner System</strong></h4>

    <p>
           Сервисный центр представляет на рынке расходных материалов уникальную альтернативу заправке совместимых и оригинальных картриджей.  Первое в мире! Единственное в России! Устройство пневматической подачи тонера в лазерный принтер Smart Toner System (производство Корея). С устройством Smart Toner System вы сможете навсегда забыть о заправке картриджей, существенно ощутить экономию (данное устройство окупается в первый же месяц), и получить оригинальное качество печати.  И немаловажная деталь,  то что данный продукт получил сертификаты "GREEN product" и "ECO product", что является главным показателем надежности и качества.
        <br><br>

    STS является передовой и лидирующей системой в Кореи, используемой крупными и государственными предприятиями. Теперь эта система в России.


        <br><br>

    Выбирайте сами или заправка картриджей или система пневматической подачи тонера в лазерный принтер (в этом случае, надобность в заправке отпадает). В обоих случаях СЦ "ЗаправкаСервис" поможет вам решить вашу задачу, так чтобы это было выгодно для вас!
    </p>
    <br>
    <div align="center">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/cyNVl9fFy9Q" frameborder="0" allowfullscreen></iframe>
    </div>
    <br>
    <br>
{% endblock %}