{% extends 'sts/sts-base.html' %}

{% load static %}

{% block sts %}

    <h4 align="center"><strong>Расходные материалы</strong></h4>

    <p>
    Тонер EcoTis, признан экологически чистым расходным материалом и получил сертификаты «Green product» и «Eco Product». Качество печати максимально приближено к оригиналу и не приводит к износу ресурсных деталей самого принтера преждевременно, тем самым ведет себя как оригинал и может смешиваться с оригиналом безболезненно. Использование тонера EcoTis гарантирует долгую и бесперебойную работу принтера с минимальным количеством отработки.
<br><br>
В блок подачи тонера устанавливаются большие емкости с тонером (как правило это банки на 30 000 страниц), специально разработанные для обеспечения устойчивой и длительной работы системы. Процесс замены банки с тонером прост – выкручивается пустая и вкручивается полная. При этом система сама подскажет когда надо заменить банку с тонером путем выдачи последовательности соответствующих предупреждающих сообщений заранее, а также проинформирует пользователя, если тот установит банку тонера одного цвета в посадочное место, предназначенное для другого цвета.
<br><br>
Под каждую модель принтера или МФУ разрабатываются специализированные тонеры, которые по качеству не уступают оригинальным и в некоторых случаях даже превосходят их. Использование сторонних тонеров не допускается, так как это может привести к выходу системы из строя.        <br><br>

    </p>
    <div class="row">
        <div class="col-xs-6">
            <strong>Тонер для цветных устройств</strong>
            <br>

Тонер для Kyocera<br>
Тонер для HP<br>
Тонер для Canon<br>
Тонер для Samsung<br>
Тонер для Xerox<br>
Тонер для OKI<br>
Тонер для Ricoh<br>
Тонер для Lexmark<br>
        </div>
        <div class="col-xs-6">
             <img  src="{% static 'img/STS/4_botco.jpg' %}" alt="" title="">
        </div>

    </div>
    <div class="row">
        <div class="col-xs-6">
            <strong>Тонер для ч/б устройств (монохромная печать)</strong>
            <br>

Тонер для Kyocera<br>
Тонер для HP<br>
Тонер для Canon<br>
Тонер для Samsung<br>
Тонер для Xerox<br>
Тонер для OKI<br>
Тонер для Ricoh<br>
Тонер для Lexmark<br>

        </div>
        <div class="col-xs-6">
             <img height="234"  src="{% static 'img/STS/bott_singola.jpg' %}" alt="" title="">
        </div>

    </div>
{% endblock %}