{% extends 'sts/sts-base.html' %}

{% load static %}





{% block sts %}

    <h4 align="center"><strong>Часто задаваемые вопросы</strong></h4>

    <p>
    <strong>1)Как это работает?</strong><br>
        В картридж Вашего принтера устанавливается датчик который определяет объем тонера, информация с этого датчика поступает в блок системы. По мере необходимости система, через пластиковую трубочку подаёт в картридж необходимое количество тонера. Всё это происходит в автоматическом режиме.
        <br><br>
    <strong>2)Для чего мне данная система?</strong><br>
    Система призвана дать пользователю ряд преимуществ по сравнению с традиционным использованием картриджей
(покупка новых или заправка) :<br>

- сокращает количество замены картриджей в разы (Вы не тратите своё время на замену, поиск, покупку картриджей)
<br>- простота замены тонера<br>
- экономия средств<br>
- качество печати (система позволяет пользователю получить оригинальное качество печати)

        <br><br>
    <strong>3)    С какими принтерами работает система?</strong><br>
        Системе не важна марка и модель печатного устройства. Система позволяет работать с любой лазерной техникой и ограничивается наличием тонера, подходящего к конкретной модели принтера или МФУ.
        <br><br>
    <strong>4)    Какой общий ресурс у системы? Какую гарантию вы даёте?</strong><br>
Система рассчитана на 1 000 000 отпечатанных страниц по стандарту ISO (при соблюдении правил эксплуатации). При замене ремкомплекта система может продолжать дальнейшее функционирование. Гарантийный срок установленный производителем составляет 1 год или 300 000 отпечатанных страниц по стандарту ISO (что наступит ранее).
        <br><br>
    <strong>5)    Насколько сложно подключить систему самому?</strong><br>
Подключить данную систему не сложно самому при наличии навыков работы с мелким ремонтом техники. Мы рекомендуем воспользоваться услугами наших партнеров.
        <br><br>
    <strong>6)    Что происходит с гарантией принтера при использовании вашей системы?</strong><br>
Пользователь при выборе альтернативного варианта использования оригинальных расходных материалов автоматически соглашается с потерей гарантии на принтер. Наша система не является исключением, но учитывая высочайшее качество тонера Ecotis (порой превосходящее оригинал), по факту никоим образом не влияет на ресурс деталей и блоков принтера.
        <br><br>

    <strong>7)    Можно ли использовать тонер другого производителя?</strong><br>
Для функционирования данной системы компания Ecotis специально разрабатывает тонеры с более высокими требованиями к текучести и количеству отработки, поэтому использовать другие тонеры нельзя.
        <br><br>
    <strong>8)    Как я пойму, что тонер заканчивается?</strong><br>
Система заранее предупреждает Вас о том, что скоро необходимо будет заменить банку с тонером , путём подачи звуковых сигналов и информационных сообщений на дисплее.
        <br><br>
    <strong>9)    Что делать когда тонер закончился?</strong><br>
 Заменить банку с тонером.
        <br><br>
    <strong>10)    Как убедиться в работоспособности системы?</strong><br>
Компания Ecotis создала шоурум, куда может прийти каждый желающий и увидеть “вживую” образцы работающих систем.
        <br><br>
    <strong>11)    Где можно купить вашу систему?</strong><br>
Вы можете купить систему и заказать услуги по инсталляции у наших партнеров.
        <br><br>
     <strong>12)    Чем отличается ваша система от СНПЧ?</strong>
        <br>
СНПЧ – это система непрерывной подачи чернил и используется совместно со струйными принтерами. А система автоматической подачи тонера в лазерный принтер (САПТ), работает только с лазерной печатной техникой. Все отличие заключается в том, что в СНПЧ по трубочкам подаются чернила, а в САПТ тонерный порошок.

        <br><br>

    </p>
{% endblock %}