{% extends 'sts/sts-base.html' %}

{% load static %}

{% block sts %}

    <h4 align="center"><strong>Принцип работы устройства</strong></h4>

    <p>

Принцип работы системы заключается в следующем: сенсоры, установленные на картриджах, определяют количество тонера и по мере уменьшения объема тонера в картриджах подают команду блоку подачи тонера, который начинает подкачивать тонер из установленных банок в картриджи через соответствующую пластиковую трубку, соединяющую блок подачи тонера с требуемым картриджем; как только объем тонера в картридже достиг необходимого значения сенсор подает команду блоку подачи тонера о прекращении подачи тонера. Таким образом картриджи в принтере всегда находятся в заправленном состоянии и работа принтера или МФУ не прерывается для замены пустого картриджа. Данная система является автономной и поэтому не влияет на процесс печати и работоспособность принтера, поэтому все заложенные производителем принтера «защитные механизмы» не обходит (это, например, касается логики работы чипов, установленных на картриджах, и на некоторых моделях требует периодической замены чипов).
        <br><br>
<div align="center">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/cyNVl9fFy9Q" frameborder="0" allowfullscreen></iframe>
    </div>
    </p>
    <br>
    <br>
{% endblock %}