{% extends 'sts/sts-base.html' %}

{% load static %}

{% block sts %}

    <h4 align="center">Стоимость устройств Smart Toner System(Система непрерывной подачи тонера)</h4>

    <p>

    <div class="row">
    <br>
        <br>
<br>

        <div class="col-xs-8">
            <h5>Устройство автоматической подачи тонера для лазерных принтеров EcoTis SMART Toner System ET-200 COLOR, данная система подходит почти ко всем существующим лазерным принтерам, в цену входит инсталяция и подготовка картриджа</h5>

            <br>

            <h4>Цена: 18900.00 руб. <br>(300.00 $)</h4>
            <br>


        </div>
        <div class="col-xs-4">
             <img  src="{% static 'img/STS/66361b.jpg' %}" alt="" title="">
        </div>

    </div>
    <div class="row">

    <br><br>

        <div class="col-xs-8">
                <h5>Устройство автоматической подачи тонера для лазерных принтеров EcoTis SMART Toner System ET-100 MONO, данная система подходит почти ко всем существующим лазерным принтерам, в цену входит инсталяция и подготовка картриджа</h5>

            <br>

            <h4>Цена: 15750.00 руб.<br>(250.00 $)</h4>
            <br>


        </div>
        <div class="col-xs-4">
             <img  src="{% static 'img/STS/66360b.jpg' %}" alt="" title="">
        </div>

    </div>


    </p>
{% endblock %}